@font-face {
    font-family: 'linja pona';
    src: url("https://joelthomastr.github.io/lipu-suli_lukin_taso/linja-pona-4.9.otf");
}

h1,h2,h3,h4,h5,h6,p,li,ul,div.site-header,input.search-input {
    font-family: 'linja pona';
    text-rendering: optimizeLegibility;
    font-size: 1.3em;
}

.nav-list-link {
    font-family: 'linja pona';
    text-rendering: optimizeLegibility;
    font-size: 1.7em !important;
}

.site-title {
    font-family: 'linja pona';
    text-rendering: optimizeLegibility;
    font-size: 1.7em !important;
}

footer.site-footer {
    font: inherit; 
}

span.eng, eng {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;   
    font-size: 1em !important;
}
